// Locally hosted typefaces.

@font-face {
  font-family: "V323";
  src: url("../fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Microsoft Yi Baiti";
  src: url("../fonts/msyi.ttf") format("truetype");
}

